#Nav i {
  color: #8da9b0;
}

#Nav a {
  color: #8da9b0;
}

#sidebar {
  background: #ffffff;
  color: #8da9b0;
  text-align: left;
}

#sidebar a {
  margin-left: 6px;
  margin-right: 6px;
  color: #000000;
  border-radius: 6px;
}

#sidebar a:hover {
  background: #daf3fe;
  color: #00a0fb;
  margin-left: 6px;
  margin-right: 6px;
}

#sidebar i {
  margin-right: 10px;
  font-size: 16px;
  position: relative;
  top: -1px;
}
