.welcome {
  margin-top: 80px;
  text-align: center;
}

#welcome {
  border-radius: 7px;
  -webkit-box-shadow: 0px 2px 13px -1px rgba(0,0,0,0.06);
  -moz-box-shadow: 0px 2px 13px -1px rgba(0,0,0,0.06);
  box-shadow: 0px 2px 13px -1px rgba(0,0,0,0.06);
}

#create {
  background: rgba(0,160,251,0.05);
  border: 1px solid rgba(0,160,251,0.1);
  color: #00A0FB;
  border-radius: 6px;
  text-transform: none;
}


#create:hover {
background: rgba(0,160,251,0.1);
border: 1px solid rgba(0,160,251,0.2)
}
