.task {
  text-align: center;
  color: #8da9b0;
  margin: auto;
  margin-top: 20px;
}

.taskview {
  text-align: left;
  color: #8da9b0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-width: 600px;
  padding: 0 45px;
}

.taskview h2 {
  font-size: 30px;
}

.taskview h4 {
  font-size: 16px;
}

.barChart {
  width: 100%;
  height: 100%;
  font-size: 40px;
}

.taskview p {
  font-size: 16px;
}

#tasklist {
  border-radius: 7px;
  border: 0px;
  box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.04);
}

#tasklist:hover {
  box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.12);
}

#tasklist a {
  color: #00a0fb;
}

#tasklist a:visited {
  color: #b381cf;
}

#tasklist td {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

#tasklist tbody tr:hover {
  background: #e9f8ff;
}

#tasklist tbody tr:nth-of-type(even) {
  background: #f8fbfc;
}

#tasklist tbody tr:nth-of-type(even):hover {
  background: #e9f8ff;
}

#tasklist tbody tr td {
  border: 0px;
}

#plus {
  background-image: linear-gradient(to bottom right, #d503ef, #6c77e1);
}

#plus i {
  color: #fff;
}

#plus:hover {
  -webkit-box-shadow: 0px 2px 13px -1px rgba(164, 113, 225, 1);
  -moz-box-shadow: 0px 2px 13px -1px rgba(164, 113, 225, 1);
  box-shadow: 0px 2px 13px -1px rgba(164, 113, 225, 1);
}

#delete {
  background: #ff6268;
  color: #ffffff;
  text-transform: none;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.12);
}

#delete:hover {
  background: #fe1c25;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24);
}

#updatestatus {
  background: #a389e7;
  color: #ffffff;
  text-transform: none;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.12);
}

#updatestatus:hover {
  background: #9a78f5;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24);
}

#taskcard {
  width: 320px;
  height: 350px;
  float: left;
  margin: 16px;
  position: relative;
  box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.04);
}

#taskcard:hover {
  box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.12);
}
