.task {
  text-align: center;
  color: #666666;
  margin: auto;
  margin-top: 20px;
}

.taskview {
  text-align: left;
  color: #666666;
  margin: 50px;
  margin-top: 30px;
}


.barChart {
  width: 100%;
  height: 100%;
  font-size: 40px;
}

.taskview p {
  font-size: 16px;
}
